.Header{
    display: flex;
    width: 100;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    height: 50px;
    align-items: center;
    background: gray;
}
.logout{
    color: #fff;
    cursor: pointer;
}